{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Personne - Index {% endblock %}

{% block body %} 
    {% for message in app.session.flashbag.get('error') %}
        {{ message }}
    {% endfor %}
    
    Bienvenue dans la partie réservée aux personnes
    
    {% block menu %}
        <ul>
            <li><a href="{{ path('amuh_typejournee_add') }}">Ajouter</a></li>
            <li><a href="{{ path('amuh_typejournee_list') }}">Lister</a></li>
        </ul>
        
    {% endblock %}
    
    <table class="table table-hover">
        <thead>
            <tr><th>ID</th><th>Libellé</th><th>Etat</th><th>Etider</th><th>Modifier</th></tr>
        </thead>
        <tbody>
    {% for typejournee in typeJournees %}
        <tr><td>{{ typejournee.idTypeJournee }}</td><td>{{ typejournee.tpjLibelle }}</td><td> {{ typejournee.tpjEtat }}</td><td><a href="{{ path('amuh_typejournee_edit',{'idTypeJournee': typejournee.idTypeJournee}) }}">Editer</a></td><td><a href="{{ path('amuh_typejournee_delete', {'idTypeJournee': typejournee.idTypeJournee}) }}">Supprimer</a></td></tr>
    {% endfor %}
        </tbody>
    </table>
    
{% endblock %}