{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Orientation - Ajouter {% endblock %}

{% block body %} 
    {% for message in app.session.flashbag.get('error') %}
        {{ message }}
    {% endfor %}
    <div>Ajouter un orientation</div>
    <div id="form">
        {{ form_start(form, {'attr': {'class': 'form-horizontal' } }) }}
        
        {{ form_errors(form) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.oriLibelle, 'Libellé : ', {'label_attr': {'class': 'col-sm-2 control-label' } }) }}
            
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.oriLibelle) }}

            <div class="col-sm-10">
              {# Génération de l'input. #}
              {{ form_widget(form.oriLibelle, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
            
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.oriEtat, 'Etat : ', {'label_attr': {'class': 'col-sm-2 control-label' } }) }}
            
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.oriEtat) }}

            <div class="col-sm-10">
              {# Génération de l'input. #}
              {{ form_widget(form.oriEtat, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
            
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        
        {# Génération automatique des champs pas encore écrits.
            Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
            et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}